// Place all the styles related to the micro_posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.field_with_errors {
    background-color: red;
    color: white;
    padding: 2px;
}

.micro_posts{
  a.btn.btn-sm.btn-default {
      margin-top: 23px;
  }
}


@media (max-width: 768px) {
  .micro_posts{
    a.btn.btn-sm.btn-default {
        margin-top: 5px;
        width: 100%;
    }
  }
}
